In [1]:
import sqlite3

In [9]:
conn = sqlite3.connect('company.db1')

In [10]:
cursor = conn.cursor()

In [11]:
cursor.execute("CREATE TABLE employees(id,name,position,salary,hire_date)")

In [13]:
response = cursor.execute("SELECT name FROM sqlite_master")

In [14]:
response.fetchall()

[('employees',)]

In [18]:
cursor.execute("""INSERT INTO employees VALUES (1, 'Carol Waruru', 'Manager', 75000, '2021-03-15'),(2, 'Ismael Korir', 'Analyst', 52000, '2022-07-22'),
(3, 'June Koin', 'Developer', 68000, '2023-01-05')""")

In [21]:
cursor.execute("SELECT * FROM employees").fetchall()

[(1, 'Carol Waruru', 'Manager', 75000, '2021-03-15'),
 (2, 'Ismael Korir', 'Analyst', 52000, '2022-07-22'),
 (3, 'June Koin', 'Developer', 68000, '2023-01-05')]

In [23]:
cursor.execute("SELECT name, salary FROM employees ORDER BY salary DESC LIMIT 1").fetchall()

[('Carol Waruru', 75000)]