In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('company.db1')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("CREATE TABLE employees(id,name,position,salary,hire_date)")

In [5]:
response = cursor.execute("SELECT name FROM sqlite_master")

In [6]:
response.fetchall()

[('employees',)]

## SECTION 4: Inserting and Querying Data

1.	Insert the following data into the employees table:
(1, 'Carol Waruru', 'Manager', 75000, '2021-03-15')
(2, 'Ismael Korir', 'Analyst', 52000, '2022-07-22')
(3, 'June Koin', 'Developer', 68000, '2023-01-05')

In [7]:
cursor.execute("""INSERT INTO employees VALUES (1, 'Carol Waruru', 'Manager', 75000, '2021-03-15'),(2, 'Ismael Korir', 'Analyst', 52000, '2022-07-22'),
(3, 'June Koin', 'Developer', 68000, '2023-01-05')""")

2. Write a query to select all rows from the employees table.

In [21]:
cursor.execute("SELECT * FROM employees").fetchall()

[(1, 'Carol Waruru', 'Manager', 75000, '2021-03-15'),
 (2, 'Ismael Korir', 'Analyst', 52000, '2022-07-22'),
 (3, 'June Koin', 'Developer', 68000, '2023-01-05')]

3. Write a query to find employees with a salary greater than 60,000.

In [10]:
cursor.execute("SELECT name,position, salary FROM employees WHERE salary>60000 ").fetchall()

[('Carol Waruru', 'Manager', 75000), ('June Koin', 'Developer', 68000)]

4. Write a query to get names and positions of employees hired after Jan 1, 2022.

In [11]:
cursor.execute("SELECT name, position FROM employees WHERE hire_date>'2022-01-01'").fetchall()

[('Ismael Korir', 'Analyst'), ('June Koin', 'Developer')]

5. Write a query to count how many employees have been hired.

In [12]:
cursor.execute("SELECT COUNT(*) as employees_count FROM employees").fetchall()

[(3,)]

## SECTION 5: Challenge Queries & Group Discussion

In [23]:
cursor.execute("SELECT name, salary FROM employees ORDER BY salary DESC LIMIT 1").fetchall()

[('Carol Waruru', 75000)]